# Local development compose file
services:
  nextjs:
    container_name: next-dev
    build:
      context: ./{{ app_name }}
      target: dev
    env_file:
      # Add your non-secret environment variables to this file:
      - ./{{ app_name }}/.env.development
      # If you have secrets, add them to this file and uncomment this line:
      # - ./{{ app_name }}/.env.local
    volumes:
      - ./{{ app_name }}/src:/app/src
      - ./{{ app_name }}/public:/app/public
    restart: always
    ports:
      - 3000:3000

  storybook:
    container_name: storybook
    build:
      context: ./{{ app_name }}
      target: dev
    command: npm run storybook
    volumes:
      - ./{{ app_name }}/src:/app/src
      - ./{{ app_name }}/public:/app/public
      - ./{{ app_name }}/.storybook:/app/.storybook
      - ./{{ app_name }}/stories:/app/stories
    restart: always
    ports:
      - 6006:6006
