# Local development compose file
services:
  {{ app_name }}:
    build:
      context: .
      target: dev
    depends_on:
      - {{ app_name }}-db
    env_file:
      - ./.env
      # Add your non-secret environment variables to this file:
      - ./.env.development
      # If you have secrets, add them to this file and uncomment this line:
      # - ./.env.local
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    restart: always
    ports:
      - {{ app_local_port }}:{{ app_local_port }}
    networks:
      - {{ app_name }}-network

  {{ app_name}}-storybook:
    build:
      context: ./
      target: dev
    command: npm run storybook -- --no-open
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./.storybook:/app/.storybook
      - ./stories:/app/stories
    restart: always
    ports:
      - 6006:6006

  {{ app_name }}-database:
    build:
      context: .
      dockerfile: Dockerfile.db
    command: postgres -c "log_lock_waits=on" -N 1000 -c "fsync=off"
    environment:
      POSTGRES_PASSWORD: secret123
      POSTGRES_USER: app
    healthcheck:
      test: "pg_isready --username=app"
      timeout: 10s
      retries: 20
    ports:
      - "5432:5432"
    volumes:
      - {{ app_name }}-database_data:/var/lib/postgresql/data
    networks:
      - {{ app_name }}-network

volumes:
  {{ app_name }}-database_data:

networks:
  {{ app_name }}-network:
    driver: bridge
